
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white-clr:#fff;
    --black-clr:#000;
    --light-black:#333;
    --primary-clr:#e6303d;
    --secondary-clr:#eee;
    --tag-clr:#14ca03;

}

/*Basic styling*/
li{
    list-style : none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 80%;
    margin: auto;
}
.section{
    padding-top: 4rem;
}






/*Navbar Styling */

header{
    background: var(--white-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 
    0px 5px 14.25px .75px rgba(36,11,12, .05);

}



.logo{
    font-size:1.8rem;
    font-weight:bold;
    color: var(--light-black);
}

.link{
    font-size: .95rem;
    color: var(--light-black)
    text-transform: uppercase;
    
}

.icon{
    font-size: .9rem;
    color: var(--light-black);
    background: var(--secondary-clr);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.icon:hover,
.icon-active{
    background: var(--secondary-clr);
}

span,
.link-active, 
.link:hover,
.icon:hover{      
    color: var(--primary-clr);
}

.navbar{
    height: 12vh;
    justify-content: space-between;
}

.navlist{
    gap: 2.5rem;
}

.nav.icons{
    gap: 8rem;
}

.hamburger{
    font-size: 1.7rem;
    color: var(--primary-clr);
    display: none;
}


/*sections styling */

.hero{
    height: 115vh;
    background-image: url("image/hero.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5.5rem;

}


.hero.contant{
    height: 100%;
    justify-content: flex;
}

h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
    color: var(--primary-clr);
}
h1{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    color: var()var(--black-clr);
}
h4{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

button{
    font-weight: 600;
    font-size: .9rem;
    padding: .8rem 2.2rem;
    text-transform: uppercase;
    color: var(--white-clr);
    border: none;
    background: var(--primary-clr);
    transition: all.3s ease-in-out;
}
button:hover{
    background: var(--light-black);
}






.category-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 1.7rem;
}
.category:nth-child(1),
.category:nth-child(4){
    grid-row: 1/3;
}
.category:nth-child(2){
    grid-row: 1/2;
}

.category{
    position: relative;
    overflow: hidden;
}


.category button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    background: var(--white-clr);
    color: var(--black-clr);
    z-index: 3;
}

.category button:hover{
    background: var(--primary-clr);
    color: var(--white-clr);
}

.category:hover img{
    transform: scale(1.1);
}

.category::before{
    content: '';
    position: absolute;
    background: var(--white-clr);
    width: 0%;
    height: 100%;
    opacity: .2;
    z-index: 2;
    transition: all  .5s ease-in-out;
}
.category:hover::before{
    width: 100%;
}


h2{
    font-size: 2rem;
    line-height: 4rem;
    color: var(--black-clr);
    font-weight: 500;
    text-align: center;
}
.line{
    background: var(--primary-clr);
    width: 60px;
    height: 2.5px;
    margin: auto;
}

.card-container{
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
    background-color: antiquewhite;
    
}

.card{
    border-right: 1px solid#efefef;
    flex: 1;
    padding-block: 3.1rem;
    margin-bottom: 2rem;
    transition: all.3s ease-in-out;
}
.card:hover{
    box-shadow: 
    0px 5px 19px 1px rgba(36,11,12, .15);
    z-index: 3;

}
.card-content{
    padding: 0 3rem;
}
.title{
    font-size: 1rem;
    color: var(--light-black);
    line-height: 1.7rem;
    font-weight: 500;
}
.secondary-bg{
    background: var(--secondary-clr);
    padding-block: 2.2rem;
}

.sale::before
.new ::before{
    content: 'sale';
    position: absolute;
    top: 20px;
    left: 20px;
    padding: .2rem 1.3rem;
}
.new::before{
    content: 'New';
    background: var(--primary-clr);
}




.sale-container{
    padding-block: 5rem;
    text-align: center;
    background-image: url("image/sale-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sale-container h3{
    font-weight: 200;
    font-size: 1.56rem;
    line-height: 1.6rem;
    text-transform: uppercase;
}
.sale-container h1{
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.7rem;

}

.sale-container.line{
    width: 15%;
    background: #c5c5c5;
}
.sale-container h4{
    
}


.risk-container{
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
    background-color: white;
    
}
.box{
    flex: 1;
    text-align: center;
    margin-block:1rem;
    color: var(--primary-clr);
}

.box.fa-solid{
    font-size: 1.5rem;
    color:var(--black-clr);

}
h5 a{
    font-size: 1.1rem;
    color: var(--light-black);
    font-weight: 500;
    line-height: 2rem;
}


.blog-container{
    margin-top: 3rem;
    gap: 2rem;
}
.blog-box{
    flex: 1;
    position: relative;
}

.blog-box::before{
    content: '';
    position: absolute;
    background: rgba(0,0,0, .8);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: all .3s ease-in-out;
}

.blog-box:hover::before{
    width: 100%;
}


.blog-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    z-index: 4;

}


h3{
    color: var(--black-clr);
}

form h3{
    font-size: 1.4rem;
}
.input-container{
    flex: 1;
    align-items: stretch;
}
#email{
    border: none;
    flex:1 ;
    font-size: 1rem;
    padding-left: 1.1rem;
}
#email:focus{
    outline: none;
}
.social-icons{
    gap: 1.2rem;
    justify-content: flex-end;
}
.media{
    font-size: 1.2rem;
    color:var(--light-black)
}
/* footor here */
.footor-list{
    flex: 1;
}









